/* Author: Sean Cravener */

/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

/* Global styles */
:root {
  /* Primary Colors */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --very-light-gray-blue: hsl(210, 60%, 98%);
  --light-gray-blue-one: hsl(211, 68%, 94%);
  --light-gray-blue-two: hsl(205, 33%, 90%);
  --gray-blue: hsl(219, 14%, 63%);
  --dark-gray-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);

  /* Font Sizes */
  --body-font-size: 15px;

  /* Font Family */
  --font-family: "Plus Jakarta Sans", sans-serif;

  /* Font Weights */
  --font-normal: 500;
  --font-bold: 800;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-size: var(--body-font-size);
  font-family: var(--font-family);
  font-weight: var(--font-normal);
  background-color: var(--very-light-gray-blue);
  color: var(--dark-gray-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-weight: var(--font-bold);
}

.notifications__container {
  background-color: var(--white);
  border-radius: 10px;
}

.notifications__top {
  display: flex;
  margin: 35px 25px;

  & p:last-child {
    margin-left: auto;

    &:hover {
      cursor: pointer;
      color: var(--blue);
    }
  }

  & p:first-child {
    color: black;
    font-weight: var(--font-bold);
    font-size: 1.25rem;

    & span {
      background-color: var(--blue);
      color: var(--white);
      margin-left: 5px;
      padding: 3px 10px;
      border-radius: 20%;
      font-weight: var(--font-bold);
      font-size: 15px;
    }
  }
}

.notifications__bottom {
  margin: 0 25px;
}

.notification {
  margin: 10px 0;
  padding: 15px;
  display: flex;
  font-size: 0.85rem;
  color: var(--dark-gray-blue);

  & p:nth-child(2) {
    color: var(--gray-blue);
    margin-top: 3px;
  }

  & a:last-child {
    margin-left: 3px;
    color: var(--dark-gray-blue);
  }

  & a:first-of-type {
    color: black;
    margin-right: 3px;
  }

  & a:hover {
    color: var(--blue);
  }

  & img:last-child {
    margin-left: auto;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      background-color: var(--light-gray-blue-one);
      border: solid 3px var(--light-gray-blue-two);
    }
  }
}

.notification__message {
  padding: 15px;
  margin: 10px 0;
  border: solid 1px var(--light-gray-blue-two);
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: var(--light-gray-blue-one);
  }
}

.unread {
  background-color: var(--very-light-gray-blue);

  & p:first-of-type::after {
    color: red;
    content: "•";
    font-size: 1.25rem;
    margin-left: 3px;
  }
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  .notifications__container {
    max-width: 750px;
    margin: 50px 0;
  }
}
